<html>
  <head>
    <title> Caesar Cipher </title>
  </head>
  <body>
  <%= new_line %>
    <form>
      <label id = line> Line </label>
      <input id = line type = text name = line><br>
      <label id = number> Number </label>
      <input id = number type = number name = number min = 1 max = 26><br>
      <input type = submit value = Submit>
    </form>
  </body>
</html>