<html>
  <head>
    <title>Hangman</title>
  </head>
  <body>
    <img src="/images/full_body.png" >

    <h3><%= displayed_word %> </h3><br>

    <form>
      <input type=text name=letter pattern="[A-Za-z]{1}">
      <input type=submit value="Enter letter">
    </form>
    <form method = POST>
      <input type=submit value="New Game">
    </form>
  </body>
</html>