<html>
  <head>
    <title>Hangman</title>
  </head>
  <body>
    <img src= "<%= image %>" >

    <h3><%= displayed_word %> </h3><br>

    <%if counter < 6%>
      <form>
        <input type=text name=letter pattern="[A-Za-z]{1}">
        <input type=submit value="Enter letter">
      </form>
    <%end%>
    <form method = POST>
      <input name=new_game type=submit value="New Game">
      <input name=save_game type=submit value="Save Game">
      <input name=load_game type=submit value="Load Game">
    </form>
  </body>
</html>